//- Создание строки
    options - Массив настроек миксина table-cell
    cellTag - Имя тэга колонки
mixin table-row(options, cellTag)
    - if (!cellTag) cellTag = 'td'

    tr
        each option in options
            #{cellTag}= option

//- Строка шапки таблицы
mixin thead-row(options)
    +table-row(options, 'th')

//- Строка тела таблицы
mixin tbody-row(options)
    +table-row(options)

//- Строка подвала таблицы
mixin tfoot-row(options)
    +table-row(options)

//- Заголовак таблицы
    options - Массив строк
mixin thead(options)
    if options
        thead
            each option in options
                +thead-row(option)

//- Содержание таблицы
    options - Массив строк
mixin tbody(options)
    if options
        tbody
            each option in options
                +tbody-row(option)

//- Полвал таблицы
    options - Массив строк
mixin tfoot(options)
    if options
        tfoot
            each option in options
                +tfoot-row(option)

//- Создание таблицы
    head - Шапка
    body - Содержание
    foot - Подвал
mixin table(head, body, foot)
    table.table&attributes(attributes)
        +thead(head)
        +tbody(body)
        +tfoot(foot)

//- Полосатая таблица
mixin table-striped(head, body, foot)
    +table(head, body, foot).table-striped&attributes(attributes)

//- Таблица с рамкой
mixin table-bordered(head, body, foot)
    +table(head, body, foot).table-bordered&attributes(attributes)

//- Фокусабельная табица
mixin table-hover(head, body, foot)
    +table(head, body, foot).table-hover&attributes(attributes)

//- Маленькая таблица
mixin table-sm(head, body, foot)
    +table(head, body, foot).table-sm&attributes(attributes)

//- Адаптивная таблица
mixin table-responsive(head, body, foot)
    .table-responsive
        +table(head, body, foot)&attributes(attributes)

//- Перевёрнутая таблица
mixin table-reflow(head, body, foot)
    +table(head, body, foot).table-reflow&attributes(attributes)
