include _mixins
doctype html
html(lang="en")
    +head
        block css
            +bootstrap-css-cdn

        block title
        block head

    body
        block container

        block js
            +jquery-cdn
            +tether-cdn
            +bootstrap-js-cdn