include mixins/_head
include mixins/_html

//- Content
include mixins/content/_images
include mixins/content/_tables
include mixins/content/_figures
include mixins/content/_icons

//- Components
include mixins/components/_buttons
include mixins/components/_button-group
include mixins/components/_dropdowns
include mixins/components/_toggles
include mixins/components/_forms
include mixins/components/_custom-forms
include mixins/components/_input-groups
include mixins/components/_jumbotron
include mixins/components/_labels
include mixins/components/_alerts
include mixins/components/_cards
include mixins/components/_navs
include mixins/components/_navbar
include mixins/components/_breadcrumb
include mixins/components/_pagination
include mixins/components/_pager
include mixins/components/_progress
include mixins/components/_modal
include mixins/components/_carousel

//- Utilities
include mixins/utilities/_close
include mixins/utilities/_embed-responsive
