//- TODO
mixin fieldset(legend)
    fieldset&attributes(attributes)
        legend= legend
        block

//- TODO
mixin form-group(label)
    fieldset.form-group&attributes(attributes)
        label.form-control-label= label
        block

//- Радио кнопки
mixin radio
    .radio
        label
            input(type="radio")&attributes(attributes)
            block

mixin radio-inline
    label.radio-inline
        input(type="radio")&attributes(attributes)
        block

//- Чекбоксы
mixin checkbox
    .checkbox
        label
            input(type="checkbox")&attributes(attributes)
            block

//
mixin checkbox-inline
    label.checkbox-inline
        input(type="checkbox")&attributes(attributes)
        block

//- Кнопка отправки
mixin submit(brand, size)
    +btn(brand, size)(type="submit")&attributes(attributes)
        block

//- Кнопка сброса
mixin reset(brand, size)
    +btn(brand, size)(type="reset")&attributes(attributes)
        block
