//- Банер
    fluid - На всю ширину? (bool)
    container - Внутренний контайнер? (bool)
mixin jumbotron(fluid, container)
    section.jumbotron(role="baner", class=(fluid ? 'jumbotron-fluid' : ''))&attributes(attributes)
        if container
            .container
                block

        else
            block
