//- Группа форм
    size - sm или lg
mixin input-group(size)
    .input-group(class=(size ? 'btn-group-' + size : ''))&attributes(attributes)
        block

//- Кнопка группы форм
mixin input-group-btn(brand, size)
    span.input-group-btn
        +btn(brand, size)&attributes(attributes)
            block

//- Выадывающее меню
mixin input-group-dropdown(text, items)
    +dropdown(text, items)(class="input-group-btn")&attributes(attributes)

//- Выадывающее меню вверх
mixin input-group-dropup(text, items)
    +dropup(text, items)(class="input-group-btn")&attributes(attributes)