//- Иконка Font Awesome
    http://fontawesome.io/
mixin fa(icon)
    span.fa(class='fa-' + icon)&attributes(attributes)

//- Иконка Open Iconic
    https://useiconic.com/open/
mixin oi(icon)
    span.oi(class='oi-' + icon)&attributes(attributes)
