include _head.pug
include _html.pug

//- Content
include content/_images.pug
include content/_tables.pug
include content/_figures.pug
include content/_icons.pug

//- Components
include components/_buttons.pug
include components/_button-group.pug
include components/_dropdowns.pug
include components/_toggles.pug
include components/_forms.pug
include components/_custom-forms.pug
include components/_input-groups.pug
include components/_jumbotron.pug
include components/_labels.pug
include components/_alerts.pug
include components/_navbar.pug

//- Utilities
include utilities/_close.pug
include utilities/_embed-responsive.pug
