include _head
include _html

//- Content
include content/_images
include content/_tables
include content/_figures
include content/_icons

//- Components
include components/_buttons
include components/_button-group
include components/_dropdowns
include components/_toggles
include components/_forms
include components/_custom-forms
include components/_input-groups
include components/_jumbotron

//- Utilities
include utilities/_close
include utilities/_embed-responsive
